@model List<Saobracaj.Models.Kazna>
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<ul id="album-list">
    @foreach (var kazna in Model)
    {
        <li>
            <a href="@Url.Action("About")">
              
                <span>@kazna.naVozilo.BrojTablice</span>
            </a>
        </li>
    }
</ul>