@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div>
        <fieldset>
            <legend>Registar neplacenih kazni</legend>
            <div class="editor-label">
                <label for="txtPais">Unesite vaš JMBG:</label>
            </div>
            <div class="editor-field">
                @Html.TextBox("JMBG")
            </div>



            <input type="submit" value="Prijavi se" />
        </fieldset>
    </div>
</div>