<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Meghna One page parallax responsive HTML Template ">

    <meta name="author" content="Eminica">

    <title>Saobracaj.BA</title>

   

</head>

<body id="body">
    <!--
    Start Preloader
    ==================================== -->
    <div id="loading-mask">
        <div class="loading-img">
            <img alt="Meghna Preloader" src="~/img/preloader.gif" />
        </div>
    </div>
    <!--
    End Preloader
    ==================================== -->
    <!--
    Welcome Slider
    ==================================== -->
    <section id="home">

       
    </section>
    <!-- Start Testimonial
    =========================================== -->

   
    <!--/#home section-->
    <!--
    Fixed Navigation
    ==================================== -->
   
    <!--
    End Fixed Navigation
    ==================================== -->
    <!--
    Start About Section
    ==================================== -->
    <section id="about" class="bg-one">
        <div class="container">
            <div class="row">

                <!-- section title -->
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    <h2>SAOBRAĆAJ <span class="color">.ba</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
                <!-- About item -->
                <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms">
                    <div class="wrap-about">
                        <div class="icon-box">
                            <i class="fa fa-lightbulb-o fa-4x"></i>
                        </div>
                        <!-- Express About Yourself -->
                        <div class="about-content text-center">
                            <h3 class="ddd">Pregled kazni</h3>
                            <p>Na ovoj web lokaciji možete pregledati vaše kazne u saobraćaju.</p>
                        </div>
                    </div>
                </div>
                <!-- End About item -->
                <!-- About item -->
                <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
                    <div class="wrap-about">
                        <div class="icon-box">
                            <i class="fa fa-users fa-4x"></i>
                        </div>
                        <!-- Express About Yourself -->
                        <div class="about-content text-center">
                            <h3>Stanje na putevima</h3>
                            <p>Pregled radara, zastoja i radova na cesti - na mapi Bosne i Hercegovine.</p>
                        </div>
                    </div>
                </div>
                <!-- End About item -->
                <!-- About item -->
                <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                    <div class="wrap-about kill-margin-bottom">
                        <div class="icon-box">
                            <i class="fa fa-users fa-4x"></i>
                        </div>
                        <!-- Express About Yourself -->
                        <div class="about-content text-center">
                            <h3>Servisne informacije</h3>
                            <p>Pregled bitnih brojeva telefona i lokacija za kontakt.</p>
                        </div>
                    </div>
                </div>
                <!-- End About item -->

            </div> 		<!-- End row -->
        </div>   	<!-- End container -->
    </section>   <!-- End section -->
    <!--
    Start Main Features
    ==================================== -->


                <!-- features item -->
              
    <!--
    Start Counter Section
    ==================================== -->

    <section id="counter" class="parallax-section">
        <div class="container">
            <div class="row">

                <!-- first count item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
                    <div class="counters-item">
                        <div>
                            <span data-speed="3000" data-to="2">2</span>
                        </div>
                        <i class="fa fa-users fa-3x"></i>
                        <h3>Developera</h3>
                    </div>
                </div>
                <!-- end first count item -->
                <!-- second count item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="counters-item">
                        <div>
                            <span data-speed="3000" data-to="1">1</span>
                        </div>
                        <i class="fa fa-check-square fa-3x"></i>
                        <h3>Projekat</h3>
                    </div>
                </div>
                <!-- end second count item -->
                <!-- third count item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                    <div class="counters-item">
                        <div>
                            <span data-speed="3000" data-to="95">95</span>
                            <span>%</span>
                        </div>
                        <i class="fa fa-thumbs-up fa-3x"></i>
                        <h3>Pozitivni feedback</h3>

                    </div>
                </div>
                <!-- end third count item -->
                <!-- fourth count item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="counters-item kill-margin-bottom">
                        <div>
                            <span data-speed="3000" data-to="2500">2500</span>
                        </div>
                        <i class="fa fa-coffee fa-3x"></i>
                        <h3>Šoljica kafe</h3>
                    </div>
                </div>
                <!-- end fourth count item -->

            </div> 		<!-- end row -->
        </div>   	<!-- end container -->
    </section>   <!-- end section -->
    <!-- Start Services Section
    ==================================== -->

    <section id="services" class="bg-one">

        <div class="row">
            <div>
                <fieldset>
                    <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
                        <h2>Registar <span class="color">Kazni</span></h2>
                        <div class="border"></div>
                    </div>

                    <div class="text-center contact-form wow fadeInUp center" data-wow-duration="500ms" data-wow-delay="300ms">

                        <div class="editor-label">
                            <label for="txtPais">Unesite vaš JMBG:</label>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="JMBG" class="form-control" name="jmbg" id="jmbg">
                        </div>
                        <div id="cf-submit">
                            <input type="submit" id="contact-submit" class="btn btn-transparent" value="Provjeri"  onclick="location.href='@Url.Action("Index", "Kazne")?JMBG=' + $('#jmbg').val()" />
                        </div>

     </div>

                </fieldset>
            </div>
        </div>
    </section>   <!-- End section -->
    <!-- Start Portfolio Section
    =========================================== -->

    <!-- Start Our Team
    =========================================== -->

    <section id="our-team">
        <div class="container">
            <div class="row">

                <!-- section title -->
                <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
                    <h2>Naš <span class="color">Tim</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
                <!-- team member -->
                <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                    <article class="team-mate">
                        <div class="member-photo">
                            <!-- member photo -->
                            <img class="img-responsive" src="~/img/team/emina.png" alt="Emina">
                            <!-- /member photo -->
                            <!-- member social profile -->
                            <div class="mask">
                                <ul class="clearfix">
                                    <li><a href="https://www.facebook.com/emhuskic"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://ba.linkedin.com/in/emina-huskić-ba29a712b"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="https://www.instagram.com/emhuskic/"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <!-- /member social profile -->
                        </div>

                        <!-- member name & designation -->
                        <div class="member-title">
                            <h3>Emina Huskić</h3>
                            <span>CEO</span>
                        </div>
                        <!-- /member name & designation -->
                        <!-- about member -->
                        <div class="member-info">
                            <p>Developer.</p>
                        </div>
                        <!-- /about member -->

                    </article>
                </div>
                <!-- end team member -->
                <!-- team member -->
                <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                    <article class="team-mate">
                        <div class="member-photo">
                            <!-- member photo -->
                            <img class="img-responsive" src="~/img/team/ivonaemina2.jpg" alt="Meghna">
                            <!-- /member photo -->
                            <!-- member social profile -->
                            <div class="mask">
                                <ul class="clearfix">
                                    <li><a href="https://www.facebook.com/moji.pokloni"><i class="fa fa-facebook"></i></a></li>
                               </ul>
                            </div>
                            <!-- /member social profile -->
                        </div>

                        <!-- member name & designation -->
                        <div class="member-title">
                            <h3>Ivona Ivković</h3>
                            <span>Manager</span>
                        </div>
                        <!-- /member name & designation -->
                        <!-- about member -->
                        <div class="member-info">
                            <p>The best.</p>
                        </div>
                        <!-- /about member -->
                    </article>
                </div>
                <!-- end team member -->
              

            </div>  	<!-- End row -->
        </div>   	<!-- End container -->
    </section>   <!-- End section -->
    <!-- Start Twitter Feed
    =========================================== -->

    <section id="twitter-feed" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <!-- twitter bird -->
                    <div class="twitter-bird wow fadeInDown" data-wow-duration="500ms">
                        <span>
                            <i class="fa fa-instagram fa-4x"></i>
                        </span>
                    </div>
                    <!-- /twitter bird -->
                    <!-- fetching tweet -->
                    <!-- /fetching tweet -->
                    <!-- follow us button -->
                    <a href="https://instagram.com/emhuskic" title="Follow Us" target="_blank" class="btn btn-transparent wow fadeInUp" data-wow-duration="500ms">Pratite nas</a>
                    <!-- /follow us button -->

                </div>
            </div>       <!-- End row -->
        </div>   	<!-- End container -->
    </section>   <!-- End section -->
    <!-- Start Pricing section
    =========================================== -->

 
    <!--
    Start Blog Section
    =========================================== -->

    <!-- Srart Contact Us
    =========================================== -->
  
    <!-- end Contact Area
    ========================================== -->


    <!-- end Footer Area
    ========================================== -->
   

</body>
</html>