@{
    ViewData["Title"] = "Home Page";
}


<div class="bg" style="background-position: 0px 0px;"></div>

<div class="row">
    <div>
        <fieldset>
            <legend>Registar neplacenih kazni</legend>
            <div class="editor-label">
                <label for="txtPais">Unesite vaš JMBG:</label>
            </div>
            <div class="editor-field">
                <input type="text" id="jmbg">
            </div>


            <input type="button" value="Provjeri" onclick="location.href='@Url.Action("Index", "Kazne")?JMBG=' + $('#jmbg').val()" />

        </fieldset>
    </div>
</div>